<h3>TreeList-Sales</h3>

<dx-tree-list id="dataGrid" [dataSource]="sampleData" eyExpr="id" [allowColumnReordering]="true"
        (onSelectionChanged)="selectSale($event)" [rowAlternationEnabled]="true">
        <dxi-column dataField="name" caption="Sale Name">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="company">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="status">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="priority">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="estimatedValue" dataType="numeric">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>
        <dxi-column dataField="accountOwner">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-column>

        <dxo-filter-row [visible]="true"></dxo-filter-row>
        <dxo-search-panel [visible]="true"></dxo-search-panel>
        <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true"
            [useIcons]="true"></dxo-editing>
        <dxo-selection mode="single"></dxo-selection>
    </dx-tree-list>